<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings file="App.override.config">
    <add key="DatabaseApiKey" value="add your restdb.io API key in App.override.config..."/>
  </appSettings>
</configuration>