<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="App.override.config">
    <add key="MessageQueueUrl" value="Don't edit this. Create and edit App.override.config. Learn more - https://github.com/lancehilliard/BusyLight/wiki/Configuration" />
    <add key="PublishIntervalSeconds" value="Don't edit this. Create and edit App.override.config. Learn more - https://github.com/lancehilliard/BusyLight/wiki/Configuration" />
    <add key="ActiveColor" value="Don't edit this. Create and edit App.override.config. Learn more - https://github.com/lancehilliard/BusyLight/wiki/Configuration"/>
    <add key="AssumeMaxSeconds" value="Don't edit this. Create and edit App.override.config. Learn more - https://github.com/lancehilliard/BusyLight/wiki/Configuration" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>